*{padding: 0; margin: 0;}
body{
  background-color: #efefef;
}
html, body{
  height: 100%;
}
#app{margin-top: 0px;}
a{
  text-decoration: none;
}
.el-submenu, .el-menu{
  text-align: left !important;
  border-right: none;
}
.loginCon .el-form-item__label:before{
  display:none;
}

